In [1]:
import os
import sys

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from utils import region_formatter

In [4]:
df = pd.read_csv(
    '../datasets/C_17_dataset_190_0_upFile.csv',
    delimiter=";",
    skiprows=3,
    keep_default_na=False)

In [5]:
df

,Anno,Codice regione,Descrizione Regione,Codice ASL,ASL,SERD,Categoria Sostanza,Utenti
0,2022,10,PIEMONTE,203,TO3,A12,OPPIACEI,1
1,2022,10,PIEMONTE,203,TO3,B01,OPPIACEI,3
2,2022,10,PIEMONTE,203,TO3,B03,OPPIACEI,40
3,2022,10,PIEMONTE,203,TO3,S01,OPPIACEI,124
4,2022,10,PIEMONTE,203,TO3,S02,OPPIACEI,104
...,...,...,...,...,...,...,...,...
2775,2022,200,SARDEGNA,201,AZIENDA PER LA TUTELA DELLA SALUTE,S12,ALTRE SOSTANZE,
2776,2022,200,SARDEGNA,201,AZIENDA PER LA TUTELA DELLA SALUTE,S14,ALTRE SOSTANZE,
2777,2022,200,SARDEGNA,201,AZIENDA PER LA TUTELA DELLA SALUTE,S21,ALTRE SOSTANZE,
2778,2022,200,SARDEGNA,302,ASL N. 2 DELLA GALLURA,S06,ALTRE SOSTANZE,1
2779,2022,200,SARDEGNA,305,ASL N. 5 DI ORISTANO,S14,ALTRE SOSTANZE,1

In [6]:
df["Descrizione Regione"].unique()

array(['PIEMONTE', "VALLE D'AOSTA", 'LOMBARDIA', 'PROV. AUTON. BOLZANO',
       'PROV. AUTON. TRENTO', 'VENETO', 'FRIULI VENEZIA GIULIA',
       'LIGURIA', 'EMILIA ROMAGNA', 'TOSCANA', 'UMBRIA', 'MARCHE',
       'LAZIO', 'ABRUZZO', 'MOLISE', 'CAMPANIA', 'PUGLIA', 'BASILICATA',
       'CALABRIA', 'SICILIA', 'SARDEGNA'], dtype=object)

In [7]:
formatter = region_formatter.RegionFormatter(df)

In [8]:
formatter.format("Descrizione Regione")

In [9]:
df["Descrizione Regione"].unique()

array(['piemonte', "valle d'aosta", 'lombardia', 'trentino alto adige',
       'veneto', 'friuli venezia giulia', 'liguria', 'emilia romagna',
       'toscana', 'umbria', 'marche', 'lazio', 'abruzzo', 'molise',
       'campania', 'puglia', 'basilicata', 'calabria', 'sicilia',
       'sardegna'], dtype=object)

In [10]:
df

,Anno,Codice regione,Descrizione Regione,Codice ASL,ASL,SERD,Categoria Sostanza,Utenti
0,2022,10,piemonte,203,TO3,A12,OPPIACEI,1
1,2022,10,piemonte,203,TO3,B01,OPPIACEI,3
2,2022,10,piemonte,203,TO3,B03,OPPIACEI,40
3,2022,10,piemonte,203,TO3,S01,OPPIACEI,124
4,2022,10,piemonte,203,TO3,S02,OPPIACEI,104
...,...,...,...,...,...,...,...,...
2775,2022,200,sardegna,201,AZIENDA PER LA TUTELA DELLA SALUTE,S12,ALTRE SOSTANZE,
2776,2022,200,sardegna,201,AZIENDA PER LA TUTELA DELLA SALUTE,S14,ALTRE SOSTANZE,
2777,2022,200,sardegna,201,AZIENDA PER LA TUTELA DELLA SALUTE,S21,ALTRE SOSTANZE,
2778,2022,200,sardegna,302,ASL N. 2 DELLA GALLURA,S06,ALTRE SOSTANZE,1
2779,2022,200,sardegna,305,ASL N. 5 DI ORISTANO,S14,ALTRE SOSTANZE,1

In [11]:
df = df.rename(columns={
    "Descrizione Regione": "reg_name",
})

In [14]:
df_serd_regions_agg = df[["reg_name"]].groupby([
    'reg_name',
])["reg_name"].count().reset_index(name="serd_count")

In [15]:
df_serd_regions_agg

                 reg_name  serd_count
0                 abruzzo          43
1              basilicata          22
2                calabria          51
3                campania         162
4          emilia romagna         236
5   friuli venezia giulia          66
6                   lazio         233
7                 liguria          86
8               lombardia         402
9                  marche          80
10                 molise          19
11               piemonte         333
12                 puglia         226
13               sardegna         134
14                sicilia         193
15                toscana         192
16    trentino alto adige          40
17                 umbria          56
18          valle d'aosta          13
19                 veneto         193

In [16]:
df_serd_regions_agg.to_pickle("{}/regions_df.pkl".format(os.getcwd()))