In [74]:
import os

In [75]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [76]:
### Constants
OUTPUT_DIR = "output"
JOB = "SSMP01"
JOB_TEXT = "Medico"
YEAR = "2022"

In [77]:
if not os.path.exists(OUTPUT_DIR):
    # Create the directory
    os.makedirs(OUTPUT_DIR)

# prepare dataframe

In [78]:
df = pd.read_csv(
    '../datasets/C_17_dataset_188_0_upFile.csv',
    delimiter=";",
    keep_default_na=False)

In [79]:
df

,ANNO DI RIFERIMENTO,CODICE REGIONE,DENOMINAZIONE REGIONE,CODICE AZIENDA,DENOMINAZIONE AZIENDA,CODICE SERD,DENOMINAZIONE SERD,CODICE QUALIFICA,DESCRIZIONE QUALIFICA,NUM. DIP. TEMPO PIENO,...,NUM. DIP. PART TIME OLTRE 50%,NUM. DIP. PART TIME OLTRE 50% U,NUM. DIP. PART TIME OLTRE 50% D,PERSONALE DIPENDENTE,PERSONALE DIPENDENTE U,PERSONALE DIPENDENTE D,ALTRO RAPPORTO,ALTRO RAPPORTO U,ALTRO RAPPORTO D,"TOTALE PERSONALE,,"
0,2021,010,PIEMONTE,203,TO3,S01,Servizio per le dipendenze di VIA MARTIRI XXX...,ASMP01,PERSONALE AMMINISTRATIVO,1,...,0,0,0,1,0,1,0,0,0,"1,,"
1,2021,010,PIEMONTE,203,TO3,S01,Servizio per le dipendenze di VIA MARTIRI XXX...,SMS046,DI CUI PSICHIATRI,1,...,0,0,0,1,0,1,0,0,0,"1,,"
2,2021,010,PIEMONTE,203,TO3,S01,Servizio per le dipendenze di VIA MARTIRI XXX...,SSMP01,MEDICO,2,...,0,0,0,2,0,2,0,0,0,"2,,"
3,2021,010,PIEMONTE,203,TO3,S01,Servizio per le dipendenze di VIA MARTIRI XXX...,SSMP03,PERSONALE INFERMIERISTICO,3,...,0,0,0,4,0,4,0,0,0,"4,,"
4,2021,010,PIEMONTE,203,TO3,S01,Servizio per le dipendenze di VIA MARTIRI XXX...,SSMP05,EDUCATORE PROFESSIONALE,5,...,0,0,0,5,1,4,0,0,0,"5,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846,,,,,,,,,,,...,,,,,,,,,,",,"
2847,,,,,,,,,,,...,,,,,,,,,,",,"
2848,,,,,,,,,,,...,,,,,,,,,,",,"
2849,,,,,,,,,,,...,,,,,,,,,,",,"
2850,,,,,,,,,,,...,,,,,,,,,,",,"

In [80]:
df["DENOMINAZIONE REGIONE"].unique()

array(['PIEMONTE             ', 'VALLE D`AOSTA        ',
       'LOMBARDIA            ', 'PROV. AUTON. BOLZANO ',
       'PROV. AUTON. TRENTO  ', 'VENETO               ',
       'FRIULI VENEZIA GIULIA', 'LIGURIA              ',
       'EMILIA ROMAGNA       ', 'TOSCANA              ',
       'UMBRIA               ', 'MARCHE               ',
       'LAZIO                ', 'ABRUZZO              ',
       'MOLISE               ', 'CAMPANIA             ',
       'PUGLIA               ', '', 'BASILICATA           ',
       'CALABRIA             ', 'SICILIA              ',
       'SARDEGNA             '], dtype=object)

In [81]:
df['DENOMINAZIONE REGIONE'] = df['DENOMINAZIONE REGIONE'].str.strip()

In [82]:
df.loc[df["DENOMINAZIONE REGIONE"] == 'PROV. AUTON. BOLZANO', "DENOMINAZIONE REGIONE"] = 'trentino-alto adige'

In [83]:
df.loc[df["DENOMINAZIONE REGIONE"] == 'PROV. AUTON. TRENTO', "DENOMINAZIONE REGIONE"] = 'trentino-alto adige'

In [84]:
df['DENOMINAZIONE REGIONE'] = df['DENOMINAZIONE REGIONE'].str.lower()

In [85]:
df['DENOMINAZIONE REGIONE'] = df['DENOMINAZIONE REGIONE'].map(lambda x: x.replace("-", " "))

In [86]:
df['DENOMINAZIONE REGIONE'] = df['DENOMINAZIONE REGIONE'].map(lambda x: x.replace("`", "'"))

In [87]:
df["TOTALE PERSONALE,,"] = df["TOTALE PERSONALE,,"].map(lambda x: x.replace(",", ""))

In [88]:
df = df.rename(columns={
    "DENOMINAZIONE REGIONE": "reg_name",
    "TOTALE PERSONALE,,": "tot_personal"
})

In [89]:
df["tot_personal"].unique()

array(['1', '2', '4', '5', '3', '7', '8', '6', '9', '12', '0', '13', '11',
       '14', '18', '34', '15', '10', '16', ''], dtype=object)

In [90]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [91]:
df["tot_personal"] = df["tot_personal"].astype(float)

In [92]:
df.columns

Index(['ANNO DI RIFERIMENTO', 'CODICE REGIONE', 'reg_name', 'CODICE AZIENDA',
       'DENOMINAZIONE AZIENDA', 'CODICE SERD', 'DENOMINAZIONE SERD',
       'CODICE QUALIFICA', 'DESCRIZIONE QUALIFICA', 'NUM. DIP. TEMPO PIENO',
       'NUM. DIP. TEMPO PIENO U', 'NUM. DIP. TEMPO PIENO D',
       'NUM. DIP. PART TIME FINO 50%', 'NUM. DIP. PART TIME FINO 50% U',
       'NUM. DIP. PART TIME FINO 50% D', 'NUM. DIP. PART TIME OLTRE 50%',
       'NUM. DIP. PART TIME OLTRE 50% U', 'NUM. DIP. PART TIME OLTRE 50% D',
       'PERSONALE DIPENDENTE', 'PERSONALE DIPENDENTE U',
       'PERSONALE DIPENDENTE D', 'ALTRO RAPPORTO', 'ALTRO RAPPORTO U',
       'ALTRO RAPPORTO D', 'tot_personal'],
      dtype='object')

In [93]:
df["reg_name"].unique()

array(['piemonte', "valle d'aosta", 'lombardia', 'trentino alto adige',
       'veneto', 'friuli venezia giulia', 'liguria', 'emilia romagna',
       'toscana', 'umbria', 'marche', 'lazio', 'abruzzo', 'molise',
       'campania', 'puglia', nan, 'basilicata', 'calabria', 'sicilia',
       'sardegna'], dtype=object)

# Prepare geodataframe

In [94]:
if not os.path.exists("regions_df.pkl"):
    %run ../dataframes/regions_gdf.ipynb -i

In [95]:
regions_df = pd.read_pickle("regions_df.pkl")

In [96]:
regions_df

,reg_name,reg_istat_code_num,reg_istat_code,geometry,zone
0,piemonte,1,01,"POLYGON ((7.13605 45.27996, 7.13601 45.28040, ...",Nord
1,valle d'aosta,2,02,"POLYGON ((7.73455 45.92365, 7.73590 45.92744, ...",Nord
2,lombardia,3,03,"MULTIPOLYGON (((8.57964 45.75172, 8.57532 45.7...",Nord
3,trentino alto adige,4,04,"POLYGON ((12.01396 46.55091, 12.01376 46.55077...",Nord
4,veneto,5,05,"POLYGON ((10.63538 45.53543, 10.63228 45.56846...",Nord
5,friuli venezia giulia,6,06,"MULTIPOLYGON (((13.51691 46.38301, 13.51750 46...",Nord
6,liguria,7,07,"MULTIPOLYGON (((7.55166 43.89429, 7.56264 43.9...",Nord
7,emilia romagna,8,08,"MULTIPOLYGON (((9.33258 44.73504, 9.33167 44.7...",Centro
8,toscana,9,09,"MULTIPOLYGON (((9.89786 44.16359, 9.89451 44.1...",Centro
9,umbria,10,10,"MULTIPOLYGON (((13.15849 42.65425, 13.15764 42...",Centro
10,marche,11,11,"POLYGON ((12.50082 43.51963, 12.50008 43.52127...",Centro
11,lazio,12,12,"MULTIPOLYGON (((11.81091 42.80692, 11.81269 42...",Centro
12,abruzzo,13,13,"MULTIPOLYGON (((13.94102 41.68797, 13.94048 41...",Centro
13,molise,14,14,"POLYGON ((14.41933 41.43515, 14.41251 41.44122...",Sud e Isole
14,campania,15,15,"MULTIPOLYGON (((14.12527 41.50737, 14.13202 41...",Sud e Isole
15,puglia,16,16,"MULTIPOLYGON (((15.09831 41.39057, 15.09656 41...",Sud e Isole
16,basilicata,17,17,"MULTIPOLYGON (((15.46575 40.63359, 15.46593 40...",Sud e Isole
17,calabria,18,18,"MULTIPOLYGON (((15.97395 39.46742, 15.97243 39...",Sud e Isole
18,sicilia,19,19,"MULTIPOLYGON (((12.90787 38.02511, 12.90945 38...",Sud e Isole
19,sardegna,20,20,"MULTIPOLYGON (((8.33727 40.49933, 8.33697 40.4...",Sud e Isole

In [97]:
regions_df["reg_name"].unique()

array(['piemonte', "valle d'aosta", 'lombardia', 'trentino alto adige',
       'veneto', 'friuli venezia giulia', 'liguria', 'emilia romagna',
       'toscana', 'umbria', 'marche', 'lazio', 'abruzzo', 'molise',
       'campania', 'puglia', 'basilicata', 'calabria', 'sicilia',
       'sardegna'], dtype=object)

# MD Data

In [98]:
df_job = df.loc[df["CODICE QUALIFICA"] == JOB, ["reg_name",  "tot_personal"] ]

In [99]:
df_job

      reg_name  tot_personal
2     piemonte           2.0
8     piemonte           2.0
13    piemonte           2.0
17    piemonte           2.0
30    piemonte           1.0
...        ...           ...
2796  sardegna           2.0
2803  sardegna           3.0
2810  sardegna           5.0
2818  sardegna           7.0
2827  sardegna           4.0

[489 rows x 2 columns]

In [100]:
df_job.columns

Index(['reg_name', 'tot_personal'], dtype='object')

In [107]:
df_serd_count = df_job.groupby(["reg_name"])["reg_name"].count().reset_index(name="serd_count")

                 reg_name  serd_count
0                 abruzzo          11
1              basilicata           5
2                calabria          15
3                campania          41
4          emilia romagna          37
5   friuli venezia giulia           6
6                   lazio          30
7                 liguria          14
8               lombardia          79
9                  marche          14
10                 molise           6
11               piemonte          52
12                 puglia          45
13               sardegna          13
14                sicilia          42
15                toscana          36
16    trentino alto adige           4
17                 umbria           9
18          valle d'aosta           1
19                 veneto          29

In [ ]:
df_job = df_job.groupby([
    'reg_name',
]).sum().reset_index()

In [ ]:
gdf_job = regions_df.merge(df_job, on="reg_name")

In [ ]:
gdf_job = gdf_job.merge(df_serd_count, on="reg_name")

In [ ]:
gdf_job

In [ ]:
plot_title = "Totale personale medico per SerD per regione - Anno {}".format(
    JOB_TEXT,
    YEAR
)

In [ ]:
plot_job = gdf_job.plot(
    column="tot_personal",
    legend=True,
    cmap='OrRd'
);
plt.title(plot_title)
plot_job.set_axis_off()
plt.annotate('fonte: Ministero della salute', (0,0), (260, -30), xycoords='axes fraction', textcoords='offset points', va='top')

In [ ]:
plot_job.get_figure().savefig('output/plot_job.png')